body{
    font-size: 16px;
  }
    h1{
        font-size: 65px;
        color: orange;
        font-family: sans-serif;
        font-style: italic;
        line-height: 100px;
        text-align: center;
        text-decoration: underline;
    }
    ul{
        background-color: blueviolet;
    }
    .classe-01{
      background-color: cadetblue;
    }
    p{
      font-weight: 600;
      font-size: 48px;
    }