.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
}

.baloon {

}

.speach {
  font-size: 25px;
  position: absolute;
  margin-top: 60px;
  margin-left: 25px;
}

.bowser {
  width: 200px;
}
