li[title^=Java]{
    background-color: pink;
}
ol li{
    background-color: yellow;
}
ol li:nth-child(even){
    color: green;    
}
ol li:nth-child(odd){
    text-transform: uppercase;
}
h1,h1,h3,h4,h5,h6{
    color: red;
}
h1,h1,h3,h4,h5,h6 em{
    size: 40px;
    border: 1px solid black;
}
li{
    font-size: 20px;
}
li em{
    font-weight: bold;
}
